In [126]:
import pandas as pd
import numpy as np

In [65]:
df_NYC_2016_list = pd.read_csv("Resources/Nyc_Crimes_List_2016.csv")

df_NYC_2015_list = pd.read_csv("Resources/Nyc_Crimes_List_2015.csv",header=None)
df_NYC_2015_list.columns = ["Description","Count"]

df_NYC_2014_list = pd.read_csv("Resources/Nyc_Crimes_List_2014.csv",header=None)
df_NYC_2014_list.columns = ["Description","Count"]

df_NYC_2013_list = pd.read_csv("Resources/Nyc_Crimes_List_2013.csv",header=None)
df_NYC_2013_list.columns = ["Description","Count"]

df_NYC_2012_list = pd.read_csv("Resources/Nyc_Crimes_List_2012.csv",header=None)
df_NYC_2012_list.columns = ["Description","Count"]


df_NYC_2011_list = pd.read_csv("Resources/Nyc_Crimes_List_2011.csv",header=None)
df_NYC_2011_list.columns = ["Description","Count"]

df_NYC_2010_list = pd.read_csv("Resources/Nyc_Crimes_List_2010.csv")
df_NYC_2010_list = df_NYC_2010_list.rename(columns={"Discriptopn":"Description"})
df_NYC_main = df_NYC_2016_list

In [115]:
#df_NYC_main[["Description","Type"]]
df_NYC_2010 = df_NYC_2010_list[["Description","Type"]]
df_NYC_2011 = pd.DataFrame(df_NYC_2011_list[["Description","Count"]])
df_NYC_2012 = pd.DataFrame(df_NYC_2012_list[["Description","Count"]])
df_NYC_2013 = pd.DataFrame(df_NYC_2013_list[["Description","Count"]])
df_NYC_2014 = pd.DataFrame(df_NYC_2014_list[["Description","Count"]])
df_NYC_2015 = pd.DataFrame(df_NYC_2015_list[["Description","Count"]])

In [116]:
df_NYC_new = pd.merge(df_NYC_main,df_NYC_2010,on="Description",how="outer",suffixes=("_main","_2010"))

In [117]:
df_NYC_new = pd.merge(df_NYC_new,df_NYC_2011,on="Description",how="outer",suffixes=("_main","_2011"))

In [118]:
df_NYC_new = pd.merge(df_NYC_new,df_NYC_2012,on="Description",how="outer",suffixes=("_main","_2012"))

In [119]:
df_NYC_new = pd.merge(df_NYC_new,df_NYC_2013,on="Description",how="outer",suffixes=("_main","_2013"))

In [121]:
df_NYC_new = pd.merge(df_NYC_new,df_NYC_2014,on="Description",how="outer",suffixes=("_main","_2014"))

In [122]:
df_NYC_new = pd.merge(df_NYC_new,df_NYC_2015,on="Description",how="outer",suffixes=("_main","_2015"))

In [134]:
df_NYC_type_key = df_NYC_new[["Description","Type_main"]].dropna()

In [144]:
df_NYC_type_key = df_NYC_type_key.rename(columns={"Type_main":"Type"})
df_NYC_type_key.to_csv("NYC_Type_Key.csv",index=False)

In [145]:
df1 = pd.read_csv("NYC_Type_Key.csv")

### Do the Chicago Data

In [207]:
df_CHI_main = pd.read_csv("Resources/Chi_Crimes_List_2016.csv")
df_CHI_main = df_CHI_main[["Primary Type","Type"]]
df_CHI_main = df_CHI_main.rename(columns={"Primary Type":"Description"})

In [227]:
df_CHI_2010 = pd.read_csv("Resources/Chi_Crimes_List_2010.csv",header=None)
df_CHI_2010.columns = ["Description","Count"]

df_CHI_2011 = pd.read_csv("Resources/Chi_Crimes_List_2011.csv",header=None)
df_CHI_2011.columns = ["Description","Count"]

df_CHI_2012 = pd.read_csv("Resources/Chi_Crimes_List_2012.csv",header=None)
df_CHI_2012.columns = ["Description","Count"]

df_CHI_2013 = pd.read_csv("Resources/Chi_Crimes_List_2013.csv",header=None)
df_CHI_2013.columns = ["Description","Count"]

df_CHI_2014 = pd.read_csv("Resources/Chi_Crimes_List_2014.csv",header=None)
df_CHI_2014.columns = ["Description","Count"]

df_CHI_2015 = pd.read_csv("Resources/Chi_Crimes_List_2015.csv",header=None)
df_CHI_2015.columns = ["Description","Count"]

In [270]:
df_CHI_new = pd.merge(df_CHI_main,df_CHI_2010,on="Description",how="outer",suffixes=("_main","_2010"))
df_CHI_new = pd.merge(df_CHI_new ,df_CHI_2011,on="Description",how="outer",suffixes=("_main","_2011"))
df_CHI_new = pd.merge(df_CHI_new ,df_CHI_2012,on="Description",how="outer",suffixes=("_main","_2012"))
df_CHI_new = pd.merge(df_CHI_new ,df_CHI_2013,on="Description",how="outer",suffixes=("_main","_2013"))
df_CHI_new = pd.merge(df_CHI_new ,df_CHI_2014,on="Description",how="outer",suffixes=("_main","_2014"))
df_CHI_new = pd.merge(df_CHI_new ,df_CHI_2015,on="Description",how="outer",suffixes=("_main","_2015"))

In [287]:
df_CHI_type_key = df_CHI_new[["Description","Type"]].dropna()
df_CHI_type_key.to_csv("CHI_Type_Key.csv",index=False)

In [288]:
df2 = pd.read_csv("CHI_Type_Key.csv")

In [319]:
df3 = pd.read_csv("LA_Crimes_List_Categorized.csv",header=None)

In [320]:
df3 = df3[[0,2]]

In [321]:
df3.columns = ["Description","Type"]

In [322]:
df3.to_csv("LA_Type_Key.csv",index=False)
df3 = pd.read_csv("LA_Type_Key.csv")

In [323]:
df3.groupby("Type").count()

                         Description
Type
Assault                           19
Crimes against children           11
Destruction of Property            6
Disruption                        11
Fraud                             15
Human Trafficking                  2
Legal                             13
Miscellaneus                       1
Sexual                            20
Theft                             44

In [313]:
df2.groupby("Type").count()

                         Description
Type
Assault                            4
Crime against children             2
Destruction of Property            2
Disruption                         3
Fraud                              1
Legal                              7
Miscellaneous                      4
Sexual                             4
Theft                              4

In [314]:
df1.groupby("Type").count()

                         Description
Type
Assault                            9
Crimes against children            5
Disruption                        10
Fraud                              6
Legal                              6
Miscellaneous                     14
Sexual                             3
Theft                              9